@charset "UTF-8";

body {
	background-color: #090909;
}

#bg1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141414+0,3f3d3b+49,262626+50,262626+50,161616+100 */
background: rgb(20,20,20); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(20,20,20,1) 0%, rgba(63,61,59,1) 49%, rgba(38,38,38,1) 50%, rgba(38,38,38,1) 50%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(63,61,59,1) 49%,rgba(38,38,38,1) 50%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(20,20,20,1) 0%,rgba(63,61,59,1) 49%,rgba(38,38,38,1) 50%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #b2975c;
padding-bottom: 2em;
}

#logo {
	background-color: #090909;
	padding: 2em 0em 3em 0em;
	border-bottom: 1px solid #b2975c;
}

#logo h1 {
	color: #e6ae34;
	font-family: 'Tinos', serif;
	text-transform: uppercase;
	font-size: 3.1em;
	text-align: center;
}

#logo p {
	color: #e6ae34;
	font-size: 1em;
	font-family: 'Tinos', serif;
	text-transform: uppercase;
	margin-top: -20px;
	text-align: center;
}

#logowrap {
	margin-left: 0em;
}

#conhold1 {
	margin-top: 0em;
}

#conhold1 img {
	display: block;
	margin: 0 auto;
}

#conhold2 {
	margin-top: 0em;
}

#conhold2 h2 {
	color: #e6ae34;
	font-family: 'Tinos', serif;
	font-size: 2em;
	font-weight: 600;
}

#conhold2 p {
	color: white;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	line-height: 20px;
	font-size: .8em;
	font-style: italic;
}

#signupbutton {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3d398+0,ede5da+50,ebdbaa+50,e2d297+51,e1d291+100 */
background: rgb(227,211,152); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(227,211,152,1) 0%, rgba(237,229,218,1) 50%, rgba(235,219,170,1) 50%, rgba(226,210,151,1) 51%, rgba(225,210,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(227,211,152,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(226,210,151,1) 51%,rgba(225,210,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(227,211,152,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(226,210,151,1) 51%,rgba(225,210,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d398', endColorstr='#e1d291',GradientType=0 ); /* IE6-9 */
border-radius: 3px;
text-align: center;
margin: 1em 5em 1em 3em;
padding: 7px 0px 7px 0px;
}

#signupbutton a{
	font-family: 'Tinos', serif;
	color: #7e7765;
	font-weight: 600;
	font-size: .8em;
	text-transform: uppercase;
}

#signupbutton:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0d9c0+0,ede5da+50,ebdbaa+50,ddd4b3+51,ddd5b8+100 */
background: rgb(224,217,192); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,217,192,1) 0%, rgba(237,229,218,1) 50%, rgba(235,219,170,1) 50%, rgba(221,212,179,1) 51%, rgba(221,213,184,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,217,192,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(221,212,179,1) 51%,rgba(221,213,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,217,192,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(221,212,179,1) 51%,rgba(221,213,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d9c0', endColorstr='#ddd5b8',GradientType=0 ); /* IE6-9 */
color: white;
cursor: pointer;
}

#conhold3 {
	background-color: purple;
	margin-top: 0em;
}

#circle1 {
	float: left;
	background-color: #424242;
	height: 8em;
	width: 8em;
	border-radius: 80px
}

#circle1 h3 {
 font-size: 2em;
 font-family: 'Tinos', serif;
 text-align: center;
 margin-top: 1.5em;
 line-height: 5px;
 color: #e6ae34;
}

#circle1 p {
font-family: 'Tinos', serif;
text-align: center;
color: #e6ae34;
}

#circle2 {
	margin-left: 2em;
	float: left;
	background-color: #424242;
	height: 8em;
	width: 8em;
	border-radius: 80px
}

#circle2 h3 {
 font-size: 2em;
 font-family: 'Tinos', serif;
 text-align: center;
 margin-top: 1.5em;
 line-height: 5px;
 color: #e6ae34;
}

#circle2 p {
font-family: 'Tinos', serif;
text-align: center;
color: #e6ae34;
}

#conhold3 {
	margin-top: 1em;
	margin-left: 10%;
}

#clicknav {
	margin-bottom: 2em;
	text-align: center;
	padding: 2.5em 0em 2em 0em;
	display: block;
	width: 100%;
	border-bottom: 1px solid #4a4230;
}

#clicknav ul li {
	text-decoration: none;
	list-style-type:none;
	display: inline;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 1em;
	font-family: 'Tinos', serif;
	display: block;
}

#clicknav ul li a {
	color: #e6ae34;
	font-weight: 600;
	font-size: .9em;
	text-transform: uppercase;
	padding: .6em 1.5em .6em 1.5em;
	margin-top: 1em;
}

#clicknav ul li a:hover {
	border-radius: 4px;
	color: #090909;
	background: rgb(224,217,192); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,217,192,1) 0%, rgba(237,229,218,1) 50%, rgba(235,219,170,1) 50%, rgba(221,212,179,1) 51%, rgba(221,213,184,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,217,192,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(221,212,179,1) 51%,rgba(221,213,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,217,192,1) 0%,rgba(237,229,218,1) 50%,rgba(235,219,170,1) 50%,rgba(221,212,179,1) 51%,rgba(221,213,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d9c0', endColorstr='#ddd5b8',GradientType=0 ); /* IE6-9 */
}


#navbg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#090909+0,303135+100 */
background: rgb(9,9,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(9,9,9,1) 0%, rgba(48,49,53,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(9,9,9,1) 0%,rgba(48,49,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(9,9,9,1) 0%,rgba(48,49,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090909', endColorstr='#303135',GradientType=0 ); /* IE6-9 */

}

#changingcont {
	background-color: #090909;
}

#changingcont p {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: .9em;
	margin-right: 1em;
	margin-left: 1em;
}

#changingcont h2 {
	color: #e6ae34;
	font-family: 'Merriweather', serif;
	font-size: 2em;
	padding: .5em 0em .5em 0em;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
}

#changingcont h3 {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	padding: .5em 0em .5em 0em;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: -1em;
	text-align: center;
}

#changingcont img {
	display: block;
	width: 60%;
	margin: 0 auto;
}
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

@media screen and (min-width: 41.6em) {

#logo {
	background-color: #090909;
	padding: 2em 0em 5em 0em;
}

#logo {
	background-color: #090909;
	padding: 2em 0em 6em 0em;
}

#logo h1 {
	color: #e6ae34;
	font-family: 'Tinos', serif;
	text-transform: uppercase;
	font-size: 3.1em;
	text-align: left;
}

#logo p {
	color: #e6ae34;
	font-size: 1em;
	font-family: 'Tinos', serif;
	text-transform: uppercase;
	margin-top: -20px;
	text-align: left;
}

#logowrap {
	margin-left: 6em;
}

#conhold1 {
	margin-top: 2em;
}

#conhold2 {
	margin-top: 4em;
}

#conhold3 {
	margin-top: 4em;
	margin-left: 00%;
}

#changingcont p {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: .9em;
	margin-right: 25em;
	margin-left: 25em;
}

#changingcont h2 {
	color: #e6ae34;
	font-family: 'Merriweather', serif;
	font-size: 2em;
	padding: .5em 0em .5em 0em;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
}

#changingcont h3 {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	padding: .5em 0em .5em 0em;
	margin-right: 6em;
	margin-left: 6em;
	margin-top: -1em;
	text-align: center;
}

#changingcont img {
	display: block;
	width: 20%;
	margin: 0 auto;
}


}